body {
  margin: 0;
  padding: 0px;
  font-family: 'Marck Script', cursive;
  background-color: #fcddfc;
}

.navbar {
  display: flex;
  align-items: last baseline;
  padding-left: 20px;
  padding-bottom: 10px;
  height: 80px;
  background-color: #C8A2C8;
}

h3 {
  margin: 0;
}

.nav--title {
  color: #ffffff;
  font-size: 30px;
}


.main-section {
  margin-top: 100px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  margin-left: 17.5%;
  margin-right: 17.5%;
}

.profile {
  font-size: 26px;
  /* border: solid 2px black; */
  padding: 2rem;
  line-height: 50px;
  text-align: center;
}

.aboutMeImage {
  width: 350px;
  border: solid 5px #C8A2C8;
  padding: 2rem;
}